body{
	margin:0;
	font-family: 'Mukta Malar', sans-serif;
	position:relative;
	line-height: 1.5;
	color:#555e60;
	background-color: #d6ebf2;
}
.header img{
	padding-top:2%;
	width:15%;
}
.small,.skill_item_two_small,.skill_item_one_small{
	display:none;
}
.header{
	width:100vw;
	text-align:center;
	margin:auto;
	position: fixed;
	background-color: white;
	z-index: 10;
	color:#333333;
}
.header a{
	color:#3D9FBF;
	text-decoration: none;
	font-weight: 100;
}
.header_text{
	line-height: 0.2rem;
	padding-bottom:1%;

}

.image{
	background-color:white;
	padding-top:135px;

}
.image img{
	padding-top:1%;
	padding-left:25%;
	width:60%;
}
.title{
	
	color:#151718;
	letter-spacing: 0.1em;
    font-weight: 600;
    font-size:1em;
    padding-left: 10%;
}
.sub_title{
	font-weight: 400;
    font-size:1rem;
	color: #3D9FBF;
	text-decoration: none;
	
}


.skills{
	padding-top:7%;
	
}
.skill_item_one{
	display: flex;
    justify-content: space-around;
    flex-grow: 1;
    width: 63%;
}
.skill_item_two{
	display: flex;
    justify-content: space-between;
    flex-grow: 1;
    width: 37%;
}
.category_content{
	display: flex;
    justify-content: space-around;
    padding-left: 5%;
    flex-grow: 1;
}
.skillz{
	padding-top:4%;
	padding-bottom:4%;
	padding-right:2%;
	padding-left: 14%;
	display:flex;

	justify-content: space-evenly;
}
.skills_type{
	color:#245F72;
	letter-spacing: 0.1em;
    font-weight: 600;
    font-size:1em;
}
ul{
	list-style-type: none;
	margin:0;
	padding-top:1rem;
	padding-bottom: 1rem;
	padding-left: 0;
}
li{
	
	font-weight: 300;
    font-size:1em;
	margin-top: 3px;
	margin-bottom:3px;
}

.projects{	
	padding-top:7%;
	margin:0;	
}
p{
	margin-top:2%;
	margin-bottom:2%;
	margin-left:3%;
}

p a{
	font-weight: 600;
    font-size:1rem;
	color: #3D9FBF;
	text-decoration: none;
}
a:hover{
	color:#9ccfe0;
	font-weight: 700;
}


.rotating-item-wrapper {
    position: relative;
    padding-top:170px;
    margin-bottom: 0%;
    margin-left:auto;
    margin-right: auto;
	width:55vw;
	border-radius: 50%;

}

.rotating-item {
	width:55vw;
    display: none;
    margin-bottom: 0%;
	background-color: white;
	border-radius: 50%;
	
}


@media screen and (max-width: 970px) and (min-width: 700px) {
	.rotating-item-wrapper {
 		padding-top:150px;
 		width: 70vw;
	}
	.rotating-item{
		width:70vw;
	}
}
@media  screen and (max-width:800px){
	.header img{
	width:30%;
	}
	.skillz{
		flex-wrap: wrap;
		flex-direction: column;
	}
	.skill_item_two{
		flex-direction: column;
		width: 87%;
		justify-content: space-around;
	}
	.skill_item_one{
		flex-direction: column;
		width:100%;
		justify-content: space-around;
	}
	.category_content{

		justify-content: start;
	}
	.skills_category{
		padding-top:2%;
		padding-right: 10%;
	}
}
@media only screen and (min-width: 1600px) {
	.rotating_item_wrapper{
		padding-top:220px;
	}
}
@media screen and (max-width: 699px)and (min-width: 530px){
	.rotating-item-wrapper {
 		padding-top:130px;
 		width: 80vw;
	}
	.rotating-item{
		width:80vw;
	}
}
@media screen and (max-width: 529px){

	.rotating-item-wrapper {
 		padding-top:130px;
 		padding-top:100px;
 		width: 80vw;
	}
	.rotating-item{
		width:80vw;
	}
}

@media screen and (max-width:480px){
	.job_details{
		flex-direction:column;
	}
}
@media screen and (max-width: 430px){
	.header img{
		padding-top:3%;
		width:50%;
	}
	.header_text {
	    line-height: 1.3rem;
	    padding-bottom: 1%;
	    padding-top: 1.5%;
	}
	.header_text p{
		width: 80vw;
    	margin: auto;
    }
    .regular{
    	display:none;
    }
    .category_content{
    	flex-wrap: wrap;
    }
    .skills_category{
    	padding-right:15%;
    }
    .small{
    	display:block;
    	color:#333333;
    }
    .title{
    	padding-left: 5%;
    }
}

.experiencezz{
	padding-top:5%;
}
.job{
	padding-left:18%;
	padding-right:18%;
	padding-bottom: 2%;
}
.job_details{
	display:flex;
	justify-content: space-between;

}
.company a,.project_title,.project_title a{
	color:#245F72;
    font-weight: 700;
    font-size:1em;
    text-decoration: none;
}
.company a:hover{
	color:#9ccfe0;

}
.project{
	display:flex;
	justify-content:space-between;
}

.one_project{
	width:60%;
	margin:auto;
	padding:2%;
}

.GitHub a{
	font-weight: 700;
	color:#3D9FBF;
	text-decoration: none;
	margin-left: 3%;

}

.one_project a:hover{
	color:#9ccfe0;
	font-weight: 700;
}

.all_projects{
	padding-top:2%;
	padding-bottom:4%;
}

.resume a{
	padding-top: 2%;
	color:#3D9FBF;
	letter-spacing: 0.1em;
    font-weight: 800;
    font-size:1.2rem;
    text-decoration: none;

}

.resume a:hover{
	color:#9ccfe0;
	font-weight: 900;
}

.copyright{
	padding-left:5%;
	color:#245F72;
	padding-bottom: 3%;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}





